# upload ignore file list

.metadata/

SpringLearn_JPA/target/ 
SpringLearn_MongoDb/target/ 
SpringLearn_Docker-JAR/target/ 
S1_SpringLearn_FullDCB/target/ 
S2_SpringLearn_Sequrity_TKN_OAUTH/target/
		


